{% extends 'base.html' %}

{% block title %}
    Events Social Recommendation Page
{% endblock %}


{% block content %}
<h6 id="movie-reco-h6">Get recommended your favourite type of event: </h6>


<div id="movie-reco-button">

    <a style="color:white;" class="more-info noselect" href="{{ url_for('event_music') }}">Concert</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('event_social') }}">Social</a>


</div>


<br>
   <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Location</th>
                <th scope="col">Type</th>
                <th scope="col">Date/Time</th>

            </tr>
        </thead>
        <tbody>
            <!-- table row: -->
            {% for social in socials %}
                <tr>
                    <td>{{ social.id }}</td>
                    <td>{{ social.name }}</td>
                    <td>{{ social.location }}</td>
                    <td>{{ social.type }}</td>
                    <td>{{ social.datetime }}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}