{% extends 'base.html' %}

{% block title %}
    Movie thriller recommendation Page
{% endblock %}


{% block content %}
<h6 id="movie-reco-h6">Get recommended your favourite genre: </h6>


<div id="movie-reco-button">

    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_family') }}">Family</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_crime') }}">Crime</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_comedy') }}">Comedy</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_thriller') }}">Thriller</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_fantasy') }}">Fantasy</a>
    <a style="color:white;" class="more-info noselect" type="button"href="{{ url_for('movie_action') }}" >Action</a>
    <a style="color:white;" class="more-info noselect" href="{{ url_for('movie_drama') }}">Drama</a>

</div>


<br>





<table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Columns for table -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Genre</th>
                <th scope="col">Age</th>
                <th scope="col">Release Date</th>

            </tr>
        </thead>
        <tbody>
            <!-- Table rows -->
           {% for thriller in thrillers %}
                <tr>
                    <td>{{ thriller.id }}</td>
                    <td>{{ thriller.name }}</td>
                    <td>{{ thriller.genre }}</td>
                    <td>{{ thriller.age }}</td>
                    <td>{{ thriller.date }}</td>

                </tr>
            {% endfor %}
        </tbody>
</table>


 </div>
{% endblock %}